<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/styles.css">
    <title>Juego String</title>
</head>
<body>
    <h1 class="titulo">Juego de palabras</h1>
    <div id="contenedorgrande">
    <div id="contenedor">
        <button id="contador" class="botonejec">Contador</button>
        <br>
        <button id="buscador" class="botonejec">Buscador</button>
        <br>
        <button id="generador" class="botonejec">Generador de acrónimo</button>
    </div>

    <div id="contenedor2">

    <div id="vista-contador" class="vista">
        <h4 class="titulo">Contador de palabras</h4>
        <input type="text" id="texto-input" placeholder="inserta tu frase">
        <button id="contar">Contar mi frase</button>
        <div id="result-cont"></div>
    </div>

    <div id="vista-buscador" class="vista" style="display: none;">
        <h4 class="titulo">Buscador de palabras</h4>
        <input type="text" id="buscar-frase" placeholder="inserta tu frase">
        <input type="text" id="buscar-palabra" placeholder="palabra a buscar">
        <button id="buscar">Buscar palabra</button>
        <div id="result-busc"></div>

    </div>

    <div id="vista-generador" class="vista" style="display: none;">
        <h4 class="titulo">Generador de acrónimos</h4>
        <input type="text" id="insertar" placeholder="insertar">
        <button id="generar">Generar acrónimo</button>
        <div id="result-gen"></div>
    </div>

</div>

</div>

    <script src="../Dynamics/js/juego.js"></script>
    <script src="../Dynamics/js/buscar_palabra.js"></script>
    <script src="../Dynamics/js/acronimo.js"></script>
    <script src="../Dynamics/js/cambio_vista.js"></script>
</body>
</html>